@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Zen+Maru+Gothic:wght@500&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

li,
a {
    font-family: "Comfortaa", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #24252a;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    display: flex;
    justify-content: flex-start;
    min-width: 30%;
    max-width: 75px;
    margin-left: 0px;
}

.nav_links li {
    display: inline-block;
    padding: 0px 15px;
}



/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}