@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Zen+Maru+Gothic:wght@500&display=swap");

/* Asterisk wildcard selector to override default styles added by the browser */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: transparent;
  font-family: "Comfortaa", sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: #24252a;
  text-decoration: none;
}

/* General Header styling */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.logo {
  display: flex;
  justify-content: flex-start;
  max-width: 100px;
  margin-left: 0px;
}

.nav_links li {
  display: inline-block;
  padding: 0px 15px;
}

/* Home - Main */
#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: rgba(255, 255, 255, 0.5);
}

#heroimage {
  height: 600px;
  width: 100%;
  background: url("../images/lights.jpg") no-repeat center center/cover;
  position: relative;
}

#byline {
  font-size: 200%;
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 80%;
  max-height: 300px;
  max-width: 500px;
  padding: 5px 5px;
  margin: 5px;
  font-family: "Comfortaa", sans-serif;
  font-weight: 500;
  font-size: 18px;
  z-index: 10;
  color: rgba(255, 255, 255, 0.5);
}

#byline > h2 {
  color: #fff;
  font-size: 200%;
}

.greenline {
  height: 5px;
  background-color: #0f0;
  border: none;
}

.whiteline {
  height: 5px;
  background-color: #fff;
  border: none;
}

.redline {
  height: 5px;
  background-color: #f00;
  border: none;
}

/* Home - Contact section */
#contact,
#feedback,
#meettheteam,
#whatweoffer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: stretch;
  padding: 0;
}

.redgreenfade {
  min-width: 95%;
  border: 3px solid #333;
  padding: 5px;
  margin: 5px;
  text-align: center;
  background-image: linear-gradient(180deg, #ff8888, #88ff88);
}

.opening-times,
.phone_email,
.address,
.review {
  min-width: 260px;
  min-height: 150px;
  text-align: center;
  margin: 10px;
  border: 3px solid #333;
  padding: 10px;
}

/* Google map */
#google-map {
  height: 300px;
  margin-bottom: 20px;
}

/* About Us - Meet the team */
#gio-image,
#raph-image,
#eva-image {
  flex-basis: 300px;
  flex-grow: 1;
  margin: 15px;
  border: 3px solid #333;
  padding: 10px;
  max-width: 40%;
  min-height: 300px;
  height: auto;
}

#gio-bio,
#raph-bio,
#eva-bio {
  flex-basis: 300px;
  flex-grow: 2;
  margin: 15px;
  border: 3px solid #333;
  padding: 10px;
  max-width: 500px;
  min-height: 300px;
}

#gio-image {
  background: url("../images/gio.jpg") no-repeat top center/cover;
}

#raph-image {
  background: url("../images/raph.jpg") no-repeat top center/cover;
}

#eva-image {
  background: url("../images/eva.jpg") no-repeat top center/cover;
}

/* About Us - Services section */
#whatweoffer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.maintenance,
.repair,
.upgrade {
  flex-basis: 300px;
  flex-grow: 1;
  margin: 15px;
  border: 3px solid #333;
  padding: 10px;
  max-width: 500px;
  min-height: 250px;
}

/* Gallery-Main section */
#photos img {
  width: 100%;
  line-height: 1em;
}

#photos {
  line-height: 0;
}

/* Sign Up-Main section */
#signup {
  background-image: url("../images/ducatitrack1.webp");
  background-size: cover;
  background-position: center;
  height: 70%;
  padding: 50px 15%;
  flex-grow: 1;
  color: #000;
  background-color: transparent;
}

#signup-form {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 30px;
  text-align: center;
}

.text-input {
  background: transparent;
  width: 100%;
  height: 25px;
  margin: 5px 0 20px 0;
  border: 1px solid #000;
  border-radius: 2px;
  padding: 0 5px;
}

.radio-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.join-button {
  margin-top: 20px;
  border-radius: 2px;
  padding: 15px 32px;
  font-size: 100%;
  background-color: #f00;
  color: #fff;
}

/* General Footer styling */
#social-networks {
  text-align: center;
  padding: 20px 0;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  bottom: 0;
}

#social-networks i {
  font-size: 160%;
  padding: 5%;
  color: #000;
}
