@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Zen+Maru+Gothic:wght@500&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

li,
a {
    font-family: "Comfortaa", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #24252a;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    display: flex;
    justify-content: flex-start;
    min-width: 30%;
    max-width: 75px;
    margin-left: 0px;
}

#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: #fff;
}

#heroimage {
    height: 400px;
    width: 100%;
    background: url("../images/lights.jpg") no-repeat center center/cover;
    position: relative;
}

#byline {
    border: 1px solid #fff;
    font-size: 100%;
    position: absolute;
    bottom: 1px;
    right: 1px;
    width: 80%;
    max-height: 130px;
    max-width: 400px;
    padding: 5px 5px;
    margin: 5px;
    font-family: "Comfortaa", sans-serif;
    font-weight: 500;
    font-size: 18px;
}

#byline>h2,
#byline>h3 {
    color: #000;
}

.nav_links li {
    display: inline-block;
    padding: 0px 15px;
}

.greenline {
    height: 5px;
    background-color: #0f0;
    border: none;
}

.whiteline {
    height: 5px;
    background-color: #fff;
    border: none;
}

.redline {
    height: 5px;
    background-color: #f00;
    border: none;
}

/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}