@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Zen+Maru+Gothic:wght@500&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252a; 
}

li, a {
    font-family: "Zen-Maru-Gothic", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0e1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}



.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}